.ta-center {
    text-align: center;
}

.m-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.fd-column {
    flex-direction: column;
}

.ai-center {
    align-items: center;
}

.idk {
    width: 1%;
}

.mb-0 {
    margin-bottom: 0;
}

.c-gradient {
    background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
    background-clip: text;
    color: transparent;
}

.fs-150 {
    font-size: 1.5rem;
}

.b {
    font-weight: bold;
}
