.input {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
    box-sizing: border-box;
}

.input:hover, 
.input:focus {
    background-color: black;
    border-color: white;
    color: white;
}

.w-max {
    width: 100%;
}

.w-70p {
    width: 69%;
}
