.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #CBC3E3;
    transition: all .2s ease-in-out;
}

button:hover {
    transform: scale(1.05); 
    cursor: pointer;
}

.signButton {
    margin-top: 1rem;
}

.detectButton {
    width: 24%;
}

.accountButton {
    grid-column-start: 1;
    grid-column-end: span 2;
    margin-right: auto;
}