.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: #CBC3E3;
    transition: all .2s ease-in-out;
}

button:hover {
    transform: scale(1.05); 
    cursor: pointer;
}

.mt-16 {
    margin-top: 1rem;
}

.w-28p {
    width: 30%;
}