.profile {
    margin: auto;
}

.profilePic {
    width: 200px;
    height: auto;
    border: 1px solid black;
    border-radius: 3px;
}

.profilePic+p {
    margin-top: 0;
}

.editProfile {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.accountLabel {
    margin-right: 1rem;
}

.accountInput {
    margin-top: auto;
    margin-bottom: auto;
}

.accountButton {
    grid-column-start: 1;
    grid-column-end: span 2;
    margin-top: 1rem;
}

.flex {
    display: flex;
}